body {
  background-color: #59CE8F;
}

#question-button{
  background-color: #59CE8F;
  color: #fff;
  position: relative;
  left: 50%; 
}

#shuffle-button{
  background-color: #59CE8F;
  color: #fff;
  position: relative;
  left: 50%;
};

#help-button{
  background-color: #59CE8F;
  color: #fff;
  position: relative;
  left: 50%;
}

#cardimg2{
  position: relative;
  left: 500px;
  margin-top: 300px;  
  
}