
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  color: green;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
  transition: 0.5s;
  overflow-x: hidden;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: greenyellow;
}

.sidebar.is-opened {
  width: 250px;
  /* Full width */
  width: 20%;
  text-align: center;
}

.sidebar.is-opened + .main {
  margin-left: 250px;
  transition: margin-left 0.5s;
  background: rgba(0, 0, 0, 0.4);
}

.sidebar .closeSidebarButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  cursor: pointer;
}

.sidebar .closeSidebarButton:hover {
  color: greenyellow;
}

.toggler {
  font-size: 30px;
  cursor: pointer;
  color: green;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5%;
  border-radius: 40%;
}

.Home{
  font-size: 30px;
  cursor: pointer;
  color: green;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5%;
  border-radius: 40%;

}

.Home:hover{
  cursor: pointer;
}

.main {
  height: 100vh;
  padding: 25px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  height: 95vh;
  background-image: url(../pictures/movingcircut.gif);
  background-size: cover;
}

h1{
  color: #F0EBE3;
  position: absolute;
  left: 38%;
  font-size : 50px;
  top: 10%;
}

pre{
  color: yellow;
}


#score-container{
  position: absolute;
  text-align: center;
  height: 10%;
  width: 20%;
  top: 20%;
  left: 10%;
  color: green;
  background-color:black;
  font-size: 2em;
  border-radius: 5%; 
  border: 5px inset green;
  box-shadow: 0 0 10px 2px green;
}

#score{
  animation:blink 5s linear infinite; 
}

@keyframes blink{
  50%{
    opacity: 0;
  }
  80%{
    opacity: 05;
  }

}

#ace-coder{
  height: 10%;
  width: 30%;
  left: 35.7%;
  color: green;
  border-radius: 10% 50%;
  text-shadow: 2px 4px black;
  text-align: center;

}

#card-img{
  padding-top: 2%;
  position: absolute;
  left: 42.5%;
  top: 17%;
  max-height: 50%;  width: 15%; 
  }

#game-questions{
  position: absolute;
  right: 5%;
  top: 20%;
  width: 30%;
  font-size: 1em;
  background-color:black ;
  padding: 10px;
  border-radius: 5%;                    /* 5%;  */
  box-shadow: 0 0 10px 5px green; 
}

#question-block{
  background-color: black;
  color: green;
  border-radius: 2%;
  padding: 5px
}

#game-questions:hover #a:hover, #b:hover, #c:hover, #d:hover{
  color: white;
  cursor: pointer;
  background-color: green;
}

#game-questions #a, #b, #c, #d{
  color: green;
  background-color: black;
    border-radius: 5%;  
    border-color: green;
    transition: ease-out 0.1s;
    box-shadow: 0 0 10px 2px green;
}


#draw-button:hover, #help-button:hover, .btn:hover{
  color: white;
  cursor: pointer;
  background-color: green;
}

#draw-button, #help-button, .btn{
  color: green;
  background-color: black;
    border-radius: 5%;  
    border-color: green;
    transition: ease-out 0.1s;
    box-shadow: 0 0 10px 2px green;
}

#game-controls{
  display: inline;
  position: absolute;
  top: 70%;
  left: 40%;
  width: 20%;
}

#alert-container{
  height: 10%;
}




